<main class="modal fade" id="newClassified" tabindex="-1" role="dialog" aria-labelledby="newClassifiedLabel" aria-hidden="true">
  <article class="modal-dialog" role="document">
    <section class="modal-content">
      <section class="modal-header">
        <h2 class="modal-title" id="ModalTitle">Novo Classificado</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </section>
      <form id="myForm" class="modal-body" action="/create" method="POST">
            <label for="recipient-title" class="col-form-label">Titulo:</label>
            <input type="text" class="form-control" name="title" id="recipient-title">

            <label for="recipient-content" class="col-form-label">Descrição:</label>
            <textarea class="form-control" maxlength="150" name="content" id="recipient-content"></textarea>
      </form>
      <section class="modal-footer">
        <button type="button" onclick="bottom()" class="btn btn-primary">Enviar</button>
      </section>
    </section>
  </article>
</main>